{% extends "paginas/base.html" %}
{% load static %}

{% block titulo %}Urban Parking{% endblock titulo %}

{% block contenido %}
<br><br><br>
<div class="contenedor">
<div class="mensaje">
    <h1>✨ Bienvenido a <strong>Urban Parking</strong> ✨</h1>
    <p>El lugar donde estacionar se convierte en una experiencia cómoda, rápida y segura.</p>
    <p>Hemos diseñado un espacio pensado para darte <strong>tranquilidad y confianza</strong>,</p>
    <p>con accesos fáciles, servicio ágil y la garantía de que tu vehículo estará en buenas manos.</p>
    <p class="destacado"> Urban Parking: Comodidad, seguridad y confianza en un mismo lugar. </p>
    <br><br>
    <h5><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅Comodidad&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✅Seguridad</b></h5>
    <br><br>
    ;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="boton">Conocenos</button>
</div>
</div>
<br><br>

{% endblock contenido %}
