{% extends "inveh/base111.html" %}

{% block contenido %}
<div class="adm-header">
    <h1>👋 Bienvenido, Admin</h1>
    <p>Este es tu panel de control principal.</p>
</div>

<div class="adm-grid">
    <div class="adm-card">
        <h2>Usuarios Registrados</h2>
        <p>Total: 120</p>
    </div>
    <div class="adm-card">
        <h2>Vehículos</h2>
        <p>Total: 85</p>
    </div>
    <div class="adm-card">
        <h2>Ingresos Hoy</h2>
        <p>$450.000</p>
    </div>
</div>
{% endblock %}
