{% extends "inveh/base111.html" %}

{% block contenido %}
<div class="adm-header">
    <h1>👥 Gestión de Usuarios</h1>
</div>

<table class="adm-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ana Gómez</td>
            <td>ana@mail.com</td>
            <td>Usuario</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Carlos Pérez</td>
            <td>carlos@mail.com</td>
            <td>Admin</td>
        </tr>
    </tbody>
</table>
{% endblock %}
